<ion-modal-view class="login-page">
  <ion-content>
    <h1 class="app-title">CLAP<strong id="point">!</strong></h1>
    <form ng-submit="doLogin()">
      <div class="list form-login">
        <label class="item item-input email">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input password">
          <span class="input-label">Mot de passe</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item login">
          <button class="button button-block button-login" type="submit">Connexion</button>
        </label>
        <label class="item suscribe">
          <button class="button button-block button-suscribe" type="button">S'inscrire</button>
          <a href="#" id="forgot">Mot de passe oublié?</a>
        </label>
      </div>
    </form>
    <div class="button-wrapper">
      <button type="button" name="button" class="button facebook-button">
        <i class="icon ion-social-facebook big"></i> Se connecter avec Facebook
      </button>
      <p id="information"><i class="icon ion-ios-information-outline"></i> Nous ne postons rien sur Facebook</p>
    </div>
    </div>
  </ion-content>
</ion-modal-view>
