<ion-view view-title="Login">
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box blue">
                    <h1 class="SlideTitle">BLUE</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <h1 class="SlideTitle">YELLOW</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <h1 class="SlideTitle">PINK</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="button-facebook">
            <button class="button" ng-click="loginFacebook()">
                <i class="icon ion-social-facebook"></i>
                Se Connecter avec Facebook
            </button>
        </div>
    </ion-content>
</ion-view>
