.login-page {
  background-image: url("../img/affiches.jpg");
}

.app-title {
  text-align: center;
  margin-top: 100px;
  font-size: 6.0em;
  color: #fff;
  font-weight: 600;
}

#point {
  color:  #CC1243;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.5);
}

.input-label {
  color: #fff;
}

.button-login {
  background-color: #CC1243;
  color: #fff;
}

.email {
  border-top: 0;
  border-bottom: 5px solid #CC1243;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.password {
  border-top: 0;
  border-bottom: 5px solid #CC1243;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.login {
  padding-top: 5%;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

#forgot {
  color: #fff;
}

.suscribe {
  border-top: 0;
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}

.button-suscribe {
  background-color: #222222;
  color: #fff
}


.button-wrapper {
  margin-top: 5%;
  text-align: center;
}

.facebook-button {
  background-color: #385998;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.facebook-button:hover, .button-login:hover, .button-suscribe:hover {
  color: #fff;
}

#information {
  color: #fff;
}
